h1 {
    text-align: center;
    background-color: aqua;
}

#recipes-button,
#about-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#recipes-button {
    background-color: bisque;
    font-weight: bold;
}

#about-button {
    background-color: blueviolet;
    font-weight: bolder;
}

p#about {
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
